.main {

}

.main header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.main a {
    padding: 10px;
    border: 2px solid black;
    margin-right: 20px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.main a:hover {
    background-color: greenyellow;
}

.selected {
    background-color: yellow !important;
}

.wrapper1 {
    display: block;
    position: relative;
}

.wrapper2{
    display: block;
    position: relative;
    border: none;
}

.wrapper2::-webkit-scrollbar {
    display: none;
}


@media only screen and (min-width: 722px) {
    .main header {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding-bottom: 0;
    }

    .main a {
        width: fit-content;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        padding: 0 10px;
        margin: 0;
    }

    .wrapper1 {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .wrapper2 {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        border: 5px solid black;
        border-radius: 40px;
        padding: 20px;
        margin: 20px;
        height: calc(100vh - 160px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
}