.main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 15px;
    color: black;
    font-size: 1.5rem;
    padding: 5px;
}