.main {
    position: relative;
    cursor: pointer;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary {
    width: max-content;
}

.hover {
    position: absolute;
    top: -30px;
    left: 0;
    border: 2px solid black;
    background-color: white;
    font-size: 0.6em;
    width: 100%;
    text-align: center;
    min-width: fit-content;
    padding: 5px 0;
}